<% if @players == [] %>
<p>No Players</p>
		<% else %>
		<%= @players.each do | p |%>
		<p>Player:<%= p.nickname %><br/></p>
		<p>Rank<%= p.rank %><br/></p>
		<p>Charisma<%= p.charisma %><br/></p>
		<p>Wisdom<%= p.wisdom %><br/></p>

		<%= link_to "Show more", player_path(p.id) %><br/>
		<% end %>
<% end %>

<%= link_to "Create new player", new_player_path %><br/>
