<p>
	<%= @player.nickname %><br/>
	<%= @player.rank %><br/>
	<%= @player.charisma %><br/>
	<%= @player.wisdom %><br/>
</p>

<%= link_to "Edit player", edit_player_path(@player.id) %><br/>
<%= link_to "Delete", player_path(@player.id), method: :delete %><br/>
<%= link_to "Back", root_path %><br/>